:root {
  --spoke-action-color: #2F80ED;
  --spoke-action-text-color: white;
  --twitter-action-color: #1da1f2;
  --twitter-link-color: #5e93c5;
  --twitter-panel-background-color: #e6ecf0;
  --twitter-editor-border-color: #a4d9f9;
  --discord-text-color: white;
  --discord-background-color: #2A2D32;
  --discord-subtitle-color: #A3A3A3;
  --discord-action-color: #7289DA;
  --discord-secondary-text-color: #7f7f7f;
  --discord-secondary-action-color: #404040;
  --hud-panel-background: rgba(79, 79, 79, 0.45);
  --hud-dropdown-background-color: rgba(72, 72, 72, 0.2);
  --hud-dropdown-border-color: rgba(72, 72, 72, 0.3);
  --hud-panel-text-color: #f0f0f0;
  --hud-panel-link-color: white;
  --overlay-text-field-text-color: white;
  --overlay-text-field-widget-color: gray;
  --overlay-text-field-background-color: rgba(64, 64, 64, 0.55);
  --overlay-text-field-focused-background-color: #404040;
  --overlay-text-field-placeholder-color: gray;
  --overlay-text-field-disabled-color: gray;
  --lightbox-text-color: white;
  --lightbox-icon-color: black;
  --lightbox-text-field-color: white;
  --lightbox-text-field-border-color: #e2e2e2;
  --lightbox-text-field-text-color: black;
  --lightbox-background-color: rgba(0, 0, 0, 0.9);
  --lightbox-icon-background-color: white;
  --lightbox-widget-color: #404040;
  --post-session-splash-text-color: white;
  --post-session-splash-background-color: black;
  --post-session-splash-secondary-action-color: #f0f0f0;
  --vr-interstitial-background-color: rgba(0, 0, 0, 0.9);
  --vr-interstitial-text-color: #f0f0f0; }

.light-theme {
  --action-button-secondary-background: white;
  --text-field-text-color: black;
  --text-field-widget-color: #202020;
  --text-field-background-color: white;
  --text-field-placeholder-color: gray;
  --text-field-disabled-color: gray;
  --text-field-border-color: #e2e2e2;
  --panel-action-button-secondary-background: #f4f4f4;
  --panel-background-color: rgba(255, 255, 255, 0.9);
  --panel-text-color: black;
  --panel-overlay-text-color: black;
  --panel-overlay-background-color: rgba(0,0,0,0.85);
  --overlay-button-background-color: white;
  --overlay-button-icon-color: #202020;
  --action-button-secondary-icon: gray;
  --full-panel-background-color: rgba(255, 255, 255, 0.98);
  --menu-background-color: white;
  --menu-link-color: black;
  --menu-link-underline-color: gray;
  --menu-header-text-color: gray;
  --menu-text-color: black;
  --menu-icon-color: #202020;
  --menu-attach-point-color: rgba(255, 255, 255, 0.9);
  --panel-rule-color: lightgrey;
  --panel-link-underline-color: gray;
  --panel-widget-color: gray;
  --unfavorited-color: gray;
  --panel-widget-disabled-color: gray;
  --panel-title-underline-color: gray;
  --panel-subtitle-color: gray;
  --panel-subtext-color: #7f7f7f;
  --panel-subtext-link-color: gray;
  --panel-subtext-disabled-color: lightgrey;
  --panel-icon-color: #404040;
  --overlay-text-color: black;
  --loading-background-color: #d7e5ec;
  --loading-spinner-color: #555;
  --loading-text-color: #404040;
  --lobby-overlay-widget-background-color: rgba(255, 255, 255, 0.9);
  --lobby-overlay-widget-text-color: black;
  --lobby-overlay-widget-thumbnail-border-color: rgba(255, 255, 255, 0.15);
  --spawned-overlay-widget-background-color: black;
  --spawned-overlay-widget-source-text-color: #f0f0f0;
  --spawned-overlay-widget-text-color: white;
  --spawned-overlay-widget-link-color: white;
  --chat-popup-background-color: #404040;
  --chat-popup-text-color: #f0f0f0;
  --home-background-color: white;
  --home-header-background-color: white;
  --home-footer-background-color: white;
  --home-header-link-color: black;
  --home-footer-text-color: black;
  --home-footer-link-color: gray;
  --home-text-color: black;
  --home-media-panel-background-color: rgba(255, 255, 255, 0.6);
  --link-background-color: white;
  --link-text-color: black;
  --link-button-highlight-color: rgba(255, 255, 255, 0);
  --link-keypad-background-color: #f7f7f7;
  --link-button-background-color: white;
  --link-entry-color: black;
  --link-button-active-background-color: lightgrey;
  --link-button-active-color: lightgrey;
  --link-button-disabled-color: lightgrey;
  --link-icon-color: #333;
  --link-code-loading-background: rgba(0.4, 0.4, 0.4, 0.85);
  --scene-text-color: white;
  --scene-overlay-text-color: black;
  --scene-loading-overlay-color: rgba(255, 255, 255, 0.2);
  --tile-button-tip-background-color: #404040;
  --tile-button-tip-text-color: #f0f0f0;
  --tile-button-icon-color: black;
  --tile-button-icon-hover-color: white;
  --tile-button-background-color: #ffffffde;
  --tile-inset-text: #404040;
  --tile-selected-color: #eaeaea;
  --tile-title-color: black;
  --tile-subtitle-color: #404040;
  --tile-subtitle-link-color: gray;
  --tile-subtext-color: #7f7f7f;
  --tile-background-color: lightgrey;
  --tile-alt-background-color: #f0f0f0;
  --tile-empty-text-color: grey;
  --overflow-tip-background-color: rgba(220, 220, 220, 0.5);
  --overflow-tip-icon-color: black;
  --icon-button-background-color: black;
  --icon-button-border-color: white; }

.dark-theme {
  --action-button-secondary-background: #404040;
  --text-field-text-color: lightgrey;
  --text-field-widget-color: #f0f0f0;
  --text-field-background-color: #404040;
  --text-field-placeholder-color: gray;
  --text-field-disabled-color: #202020;
  --text-field-border-color: #404040;
  --panel-action-button-secondary-background: #404040;
  --panel-background-color: rgba(32, 32, 32, 0.9);
  --panel-text-color: #fafafa;
  --panel-overlay-text-color: black;
  --panel-overlay-background-color: rgba(0,0,0,0.85);
  --overlay-button-background-color: rgba(50, 50, 50, 0.95);
  --overlay-button-icon-color: lightgrey;
  --unfavorited-color: gray;
  --action-button-secondary-icon: #fafafa;
  --full-panel-background-color: rgba(32, 32, 32, 0.98);
  --menu-background-color: rgba(32, 32, 32, 0.9);
  --menu-link-color: #fafafa;
  --menu-link-underline-color: gray;
  --menu-header-text-color: lightgrey;
  --menu-text-color: #fafafa;
  --menu-icon-color: lightgrey;
  --menu-attach-point-color: rgba(32, 32, 32, 0.9);
  --panel-rule-color: gray;
  --panel-link-underline-color: gray;
  --panel-widget-color: gray;
  --panel-widget-disabled-color: gray;
  --panel-title-underline-color: gray;
  --panel-subtitle-color: lightgrey;
  --panel-subtext-color: #fafafa;
  --panel-subtext-link-color: gray;
  --panel-subtext-disabled-color: #404040;
  --panel-icon-color: gray;
  --overlay-text-color: black;
  --loading-background-color: #202020;
  --loading-spinner-color: gray;
  --loading-text-color: lightgrey;
  --lobby-overlay-widget-background-color: rgba(32, 32, 32, 0.9);
  --lobby-overlay-widget-text-color: #fafafa;
  --lobby-overlay-widget-thumbnail-border-color: rgba(64, 64, 64, 0.15);
  --spawned-overlay-widget-background-color: black;
  --spawned-overlay-widget-source-text-color: #f0f0f0;
  --spawned-overlay-widget-text-color: white;
  --spawned-overlay-widget-link-color: white;
  --chat-popup-background-color: #404040;
  --chat-popup-text-color: #f0f0f0;
  --home-background-color: #202020;
  --home-header-background-color: #202020;
  --home-footer-background-color: black;
  --home-header-link-color: #fafafa;
  --home-footer-text-color: white;
  --home-footer-link-color: white;
  --home-text-color: #fafafa;
  --home-media-panel-background-color: rgba(255, 255, 255, 0.1);
  --link-background-color: #202020;
  --link-text-color: #fafafa;
  --link-button-highlight-color: lightgrey;
  --link-keypad-background-color: #202020;
  --link-button-background-color: rgba(16, 16, 16, 1);
  --link-entry-color: #fafafa;
  --link-button-active-background-color: lightgrey;
  --link-button-active-color: lightgrey;
  --link-button-disabled-color: lightgrey;
  --link-icon-color: #333;
  --link-code-loading-background: rgba(0.4, 0.4, 0.4, 0.85);
  --scene-text-color: white;
  --scene-overlay-text-color: black;
  --scene-loading-overlay-color: rgba(255, 255, 255, 0.2);
  --tile-button-tip-background-color: #404040;
  --tile-button-tip-text-color: #f0f0f0;
  --tile-button-icon-color: black;
  --tile-button-icon-hover-color: white;
  --tile-button-background-color: #ffffffde;
  --tile-inset-text: #404040;
  --tile-selected-color: #404040;
  --tile-title-color: #fafafa;
  --tile-subtitle-color: #f0f0f0;
  --tile-subtitle-link-color: lightgrey;
  --tile-subtext-color: gray;
  --tile-background-color: gray;
  --tile-alt-background-color: #404040;
  --tile-empty-text-color: lightgrey;
  --overflow-tip-background-color: rgba(220, 220, 220, 0.5);
  --overflow-tip-icon-color: black;
  --icon-button-background-color: black;
  --icon-button-border-color: gray; }

.invite-form__link_field, .invite-team-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field, .mailing-list-form__email_field, .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__primary-button__r8Kw5, .invite-form__action-button, .invite-team-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button, .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__secondary-button__swDOR, .loading-panel, body {
  font-family: 'Open Sans', sans-serif; }

.invite-form__link_field, .invite-team-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field, .mailing-list-form__email_field {
  border: 1px solid var(--text-field-border-color);
  box-sizing: border-box;
  border-radius: 10px; }

.invite-form, .invite-team-form, .add-media-form, .custom-scene-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0; }

.invite-form__link_field, .invite-team-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field, .mailing-list-form__email_field {
  color: var(--text-field-text-color);
  font-size: 1.2em;
  background-color: transparent;
  line-height: 2.0em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin: 0.5em 0;
  width: 100%; }

.index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__primary-button__r8Kw5 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline-style: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 32px;
  border: 0;
  width: 350px;
  padding: 18px;
  text-decoration: none;
  background: var(--action-color, #FF3464);
  color: var(--action-text-color, white);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  margin-right: 12px;
  margin-left: 12px;
  white-space: nowrap; }
  @media (max-width: 768px) {
    .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__primary-button__r8Kw5 {
      width: auto;
      padding: 18px 48px; } }

.invite-form__action-button, .invite-team-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button {
  margin: 16px 0; }

.invite-form__action-button, .invite-team-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button, .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__secondary-button__swDOR {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  outline-style: none;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 28px;
  padding: 0px 18px;
  background: var(--action-color, #FF3464);
  font-size: 1em;
  color: var(--action-text-color, white);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  height: 48px; }

.index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__secondary-button__swDOR {
  background-color: var(--action-button-secondary-background);
  color: var(--action-label-color, #FF3464); }

.invite-form__action-button, .invite-team-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button {
  background: var(--action-color, #FF3464); }

.dialog__box__contents__title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--panel-text-color); }

.mailing-list-form__privacy_checkbox {
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border: 1px solid var(--text-field-border-color);
  background-color: var(--text-field-background-color);
  border-radius: 6px;
  vertical-align: sub;
  margin: 0 0.7em; }

.mailing-list-form__privacy_checkbox:checked {
  position: relative; }
  .mailing-list-form__privacy_checkbox:checked::after {
    content: ' ';
    position: absolute;
    background: var(--action-color, #FF3464);
    top: 0.3em;
    left: 0.3em;
    right: 0.3em;
    bottom: 0.3em;
    border-radius: 0.3em; }

.dialog__box__contents__close {
  cursor: pointer;
  color: var(--panel-widget-color);
  outline-style: none;
  background: none;
  border: none; }

.dialog-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: auto;
  color: var(--panel-overlay-text-color);
  z-index: 20;
  display: flex; }
  .dialog-overlay__no-pointer-events {
    pointer-events: none; }

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .dialog__align-end {
    align-items: end;
    bottom: 0;
    position: absolute; }
  .dialog__dark-background {
    background-color: var(--panel-overlay-background-color); }
  .dialog__box {
    max-width: 30em;
    max-height: 100%;
    display: flex;
    position: relative;
    pointer-events: auto;
    width: 100%; }
    .dialog__box__contents {
      width: 100%;
      overflow-y: auto;
      padding: 30px;
      box-shadow: 0px 0px 30px 1px #202020;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      text-align: center;
      position: relative;
      background-color: var(--full-panel-background-color); }
      @media (max-width: 801px) {
        .dialog__box__contents {
          padding: 5px; } }
      .dialog__box__contents__title {
        margin-bottom: 20px; }
      .dialog__box__contents__body {
        font-size: 0.9em;
        font-weight: bold;
        color: var(--panel-text-color);
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 10px 0;
        white-space: pre-wrap; }
        @media (max-width: 801px) {
          .dialog__box__contents__body {
            margin: 0; } }
        .dialog__box__contents__body a {
          color: var(--panel-text-color); }
        .dialog__box__contents__body a.info-dialog--action-button {
          color: var(--action-text-color, white); }
      .dialog__box__contents__links {
        display: flex;
        justify-content: center;
        margin: 16px 0; }
        .dialog__box__contents__links a {
          margin: 0 12px;
          color: var(--panel-text-color); }
      .dialog__box__contents__close {
        position: absolute;
        left: 18px;
        top: 18px;
        font-size: 1.6em;
        font-weight: bold; }
    .dialog__box__contents-overflow {
      overflow-y: visible; }
  @media (min-width: 640px) {
    .dialog__wide {
      max-width: 640px; } }
  @media (max-width: 639px) {
    .dialog__wide {
      max-width: 100%; } }

.dialog__box__contents__body p:first-child {
  margin-top: 0; }

.invite-form__buttons, .invite-team-form__buttons, .add-media-form__buttons, .custom-scene-form__buttons {
  display: flex;
  flex-direction: row;
  align-items: center; }

.invite-form__link, .invite-team-form__link, .add-media-form__link, .custom-scene-form__link {
  display: flex;
  flex-direction: row; }

.invite-form__action-button, .invite-team-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button {
  margin-left: 6px;
  margin-right: 6px;
  appearance: none;
  width: 128px;
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none; }

.invite-team-form__action-button {
  width: 350px; }

.mailing-list-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0; }
  .mailing-list-form__first {
    width: 100%; }
  .mailing-list-form__submit {
    margin-top: 0;
    margin-bottom: 0; }
  .mailing-list-form__privacy {
    margin-top: 10px;
    font-size: 0.7em; }
  .mailing-list-form__privacy_checkbox {
    vertical-align: middle;
    margin-bottom: 18px; }
  .mailing-list-form__privacy_checkbox:checked {
    vertical-align: middle; }

.info-dialog__help {
  text-align: left; }
  .info-dialog__help__hud {
    width: 316px;
    max-width: 100%;
    margin: 12px 0; }

.info-dialog--action-button {
  margin-left: 6px;
  margin-right: 6px;
  appearance: none;
  width: 168px;
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: auto;
  text-decoration: none; }

.invite-form__link_field, .invite-team-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field, .mailing-list-form__email_field, .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__primary-button__r8Kw5, .invite-form__action-button, .invite-team-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button, .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__secondary-button__swDOR, .loading-panel, body {
  font-family: 'Open Sans', sans-serif; }

.invite-form__link_field, .invite-team-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field, .mailing-list-form__email_field {
  border: 1px solid var(--text-field-border-color);
  box-sizing: border-box;
  border-radius: 10px; }

.invite-form, .invite-team-form, .add-media-form, .custom-scene-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0; }

.invite-form__link_field, .invite-team-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field, .mailing-list-form__email_field {
  color: var(--text-field-text-color);
  font-size: 1.2em;
  background-color: transparent;
  line-height: 2.0em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin: 0.5em 0;
  width: 100%; }

.index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__primary-button__r8Kw5 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline-style: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 32px;
  border: 0;
  width: 350px;
  padding: 18px;
  text-decoration: none;
  background: var(--action-color, #FF3464);
  color: var(--action-text-color, white);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  margin-right: 12px;
  margin-left: 12px;
  white-space: nowrap; }
  @media (max-width: 768px) {
    .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__primary-button__r8Kw5 {
      width: auto;
      padding: 18px 48px; } }

.invite-form__action-button, .invite-team-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button {
  margin: 16px 0; }

.invite-form__action-button, .invite-team-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button, .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__secondary-button__swDOR {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  outline-style: none;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 28px;
  padding: 0px 18px;
  background: var(--action-color, #FF3464);
  font-size: 1em;
  color: var(--action-text-color, white);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  height: 48px; }

.index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__secondary-button__swDOR {
  background-color: var(--action-button-secondary-background);
  color: var(--action-label-color, #FF3464); }

.invite-form__action-button, .invite-team-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button {
  background: var(--action-color, #FF3464); }

.dialog__box__contents__title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--panel-text-color); }

.mailing-list-form__privacy_checkbox {
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border: 1px solid var(--text-field-border-color);
  background-color: var(--text-field-background-color);
  border-radius: 6px;
  vertical-align: sub;
  margin: 0 0.7em; }

.mailing-list-form__privacy_checkbox:checked {
  position: relative; }
  .mailing-list-form__privacy_checkbox:checked::after {
    content: ' ';
    position: absolute;
    background: var(--action-color, #FF3464);
    top: 0.3em;
    left: 0.3em;
    right: 0.3em;
    bottom: 0.3em;
    border-radius: 0.3em; }

.dialog__box__contents__close {
  cursor: pointer;
  color: var(--panel-widget-color);
  outline-style: none;
  background: none;
  border: none; }

.loader-wrap {
  pointer-events: none;
  position: relative;
  width: 100px;
  height: 90px; }

.loader-bottom {
  position: fixed;
  bottom: 8px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%; }

.loader-mid {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%; }

.loading-panel {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--loading-background-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.loading-panel__logo {
  width: 247px;
  margin: 20px 0 10px 0;
  filter: drop-shadow(0 0 4px #888); }

.loading-panel__powered-by {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-weight: normal;
  font-size: 0.8em;
  color: var(--loading-text-color); }
  @media (max-width: 768px), (max-height: 480px) {
    .loading-panel__powered-by {
      display: none; } }
  .loading-panel__powered-by a {
    color: var(--loading-text-color); }

.loading-panel__powered-by__prefix {
  margin-right: 4px; }

.loader-center,
.loader:before,
.loader:after {
  background: var(--loading-spinner-color);
  -webkit-animation: loader-animation 1s infinite ease-in-out;
  animation: loader-animation 1s infinite ease-in-out;
  width: 0.6em;
  height: 1em;
  border-radius: 5px; }

.loader {
  color: var(--loading-spinner-color);
  text-indent: -9999em;
  margin-left: 4em;
  margin-top: 4em;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader-center,
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader-center {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before {
  left: -1.2em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 1.2em; }

@-webkit-keyframes loader-animation {
  0%,
  80%,
  100% {
    height: 2em;
    top: 0; }
  40% {
    height: 3.5em;
    top: -0.75em; } }

@keyframes loader-animation {
  0%,
  80%,
  100% {
    height: 2em;
    top: 0; }
  40% {
    height: 3.5em;
    top: -0.75em; } }

.index__loading-text__3tobw {
  font-weight: normal;
  font-size: 0.8em;
  color: var(--loading-text-color);
  margin-top: 0; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: var(--home-background-color);
  color: var(--home-text-color); }

.index__home__3xkuf {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.index__main-content__1L8Sf {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative; }
  .index__main-content__1L8Sf.index__noninteractive__3jQRs {
    pointer-events: none; }

.index__header-content__1XfPi {
  padding: 0.5em 1.75em 0.5em 1.75em;
  background-color: var(--home-header-background-color);
  min-height: 65px;
  height: 65px;
  display: flex; }
  @media (max-width: 768px), (max-height: 480px) {
    .index__header-content__1XfPi {
      height: auto;
      min-height: auto;
      padding: 1em 0;
      flex-direction: column; } }
  .index__header-content__1XfPi .index__title-and-nav__23waG {
    display: flex; }
    @media (max-width: 1024px) {
      .index__header-content__1XfPi .index__title-and-nav__23waG {
        flex: 1 1 350px; } }
    @media (max-width: 768px), (max-height: 480px) {
      .index__header-content__1XfPi .index__title-and-nav__23waG {
        justify-content: center;
        flex: 1; } }
    .index__header-content__1XfPi .index__title-and-nav__23waG .index__links__p0Llg {
      display: flex;
      align-items: center; }
      @media (max-width: 768px), (max-height: 480px) {
        .index__header-content__1XfPi .index__title-and-nav__23waG .index__links__p0Llg {
          flex-direction: column; } }
      .index__header-content__1XfPi .index__title-and-nav__23waG .index__links__p0Llg a {
        display: flex;
        margin: 0 16px;
        color: var(--home-header-link-color);
        font-weight: bold;
        font-size: 1.4em;
        text-decoration: none;
        white-space: nowrap; }
        @media (max-width: 768px), (max-height: 480px) {
          .index__header-content__1XfPi .index__title-and-nav__23waG .index__links__p0Llg a {
            margin-top: 0.5em; } }
  .index__header-content__1XfPi .index__sign-in__2L8Bu {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    @media (max-width: 768px), (max-height: 480px) {
      .index__header-content__1XfPi .index__sign-in__2L8Bu {
        flex: 1;
        justify-content: center;
        margin-top: 1em; } }
    .index__header-content__1XfPi .index__sign-in__2L8Bu a {
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer; }

.index__video-container__2Z1bb {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: none; }

.index__background-video__1XJJZ {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.3; }

.index__hero-content__11fJu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex: 1;
  background-size: cover;
  padding: 1.5em; }
  @media (max-width: 768px), (max-height: 480px) {
    .index__hero-content__11fJu {
      padding: 0;
      padding-bottom: 64px;
      order: -1; } }
  .index__hero-content__11fJu .index__container__cs00S {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 36px; }
    @media (max-width: 768px) {
      .index__hero-content__11fJu .index__container__cs00S {
        width: 80%; } }
    @media (max-height: 480px) {
      .index__hero-content__11fJu .index__container__cs00S {
        padding: 1em;
        padding-bottom: 0; } }
    .index__hero-content__11fJu .index__container__cs00S .index__logo__2zl0D {
      max-width: 250px;
      align-self: flex-start;
      margin-left: -25px;
      margin-bottom: -12px; }
      @media (max-width: 768px) {
        .index__hero-content__11fJu .index__container__cs00S .index__logo__2zl0D {
          align-self: auto; } }
      .index__hero-content__11fJu .index__container__cs00S .index__logo__2zl0D img {
        width: 100%;
        height: auto; }
    .index__hero-content__11fJu .index__container__cs00S .index__logo-margin__1MXYL {
      margin: 24px 0; }
    .index__hero-content__11fJu .index__container__cs00S .index__blurb__3k96f {
      white-space: pre-wrap;
      font-size: 18pt;
      margin: 0.5em 0;
      margin-bottom: 1em;
      align-self: flex-start; }
      @media (max-width: 768px) {
        .index__hero-content__11fJu .index__container__cs00S .index__blurb__3k96f {
          align-self: auto;
          font-size: 14pt;
          text-align: center; } }
  .index__hero-content__11fJu .index__hero-panel__2AEHu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .index__hero-content__11fJu .index__cta-buttons__3SD-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px; }
    .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__cta-button__vTmK6 {
      font-size: 14pt;
      width: 19em;
      margin-right: 1em; }
      @media (max-width: 380px) {
        .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__cta-button__vTmK6 {
          width: 18em; } }
    .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__secondary-button__swDOR {
      display: flex;
      flex-direction: row;
      width: 250px;
      margin-top: 18px;
      margin-bottom: 18px;
      padding-right: 20px; }
      .index__hero-content__11fJu .index__cta-buttons__3SD-3 .index__secondary-button__swDOR i {
        margin-right: 16px; }
  .index__hero-content__11fJu .index__rightPanel__2JG0C {
    flex: 0; }
  .index__hero-content__11fJu .index__hero-video__Yf3bL {
    flex: 1;
    display: flex; }
    .index__hero-content__11fJu .index__hero-video__Yf3bL video {
      width: 100%; }
  .index__hero-content__11fJu .index__have-code__1EZm- {
    justify-content: flex-end;
    font-size: 14pt;
    margin-top: -2em; }
  .index__hero-content__11fJu .index__secondary-link__3gfJB {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--home-header-link-color);
    margin-top: 8px; }
    .index__hero-content__11fJu .index__secondary-link__3gfJB img {
      width: 24px;
      height: 24px; }
    .index__hero-content__11fJu .index__secondary-link__3gfJB a {
      color: var(--home-header-link-color);
      margin-right: 4px;
      margin-left: 2px; }

.index__footer-content__2GrlX {
  padding: 2.25em;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 768px), (max-height: 480px) {
    .index__footer-content__2GrlX {
      background-color: var(--home-footer-background-color);
      padding: 0 0 2em 0;
      margin: 0;
      justify-content: center;
      flex-direction: column; } }
  .index__footer-content__2GrlX .index__powered-by__15oVe {
    text-align: center;
    align-self: flex-end;
    color: var(--home-footer-text-color);
    display: flex;
    justify-content: center;
    flex-direction: column; }
    @media (max-width: 768px), (max-height: 480px) {
      .index__footer-content__2GrlX .index__powered-by__15oVe {
        align-self: center; } }
    .index__footer-content__2GrlX .index__powered-by__15oVe .index__prefix__3b2dq {
      font-size: 0.8em;
      margin-bottom: 2px; }
    .index__footer-content__2GrlX .index__powered-by__15oVe .index__link__ujnyC {
      color: var(--home-footer-link-color);
      font-weight: bold; }
  .index__footer-content__2GrlX .index__links__p0Llg {
    text-align: center;
    color: var(--home-footer-text-color);
    display: flex;
    flex-direction: column; }
    .index__footer-content__2GrlX .index__links__p0Llg .index__company-logo__t72Nl {
      height: 49px;
      margin-left: 18px; }
      @media (max-width: 768px), (max-height: 480px) {
        .index__footer-content__2GrlX .index__links__p0Llg .index__company-logo__t72Nl {
          width: 113px;
          height: 32px;
          margin: 0;
          margin-top: 18px; } }
    .index__footer-content__2GrlX .index__links__p0Llg .index__top__1gv9a {
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      @media (max-width: 768px), (max-height: 480px) {
        .index__footer-content__2GrlX .index__links__p0Llg .index__top__1gv9a {
          align-items: center;
          flex-direction: column; } }
    .index__footer-content__2GrlX .index__links__p0Llg .index__link__ujnyC {
      color: var(--home-footer-link-color);
      font-weight: bold;
      margin: 0 18px; }
      @media (max-width: 768px), (max-height: 480px) {
        .index__footer-content__2GrlX .index__links__p0Llg .index__link__ujnyC {
          margin-top: 18px; } }
    .index__footer-content__2GrlX .index__links__p0Llg .index__bottom__2Zyu1 {
      margin-top: 8px; }
      .index__footer-content__2GrlX .index__links__p0Llg .index__bottom__2Zyu1 a {
        color: var(--home-footer-text-color); }

.media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 .media-browser__facet__2uP6U, .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__pager__RKx5O a, .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__search__3gQ84 input {
  font-family: 'Open Sans', sans-serif; }

.media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 .media-browser__facet__2uP6U, .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__pager__RKx5O a {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  outline-style: none;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 28px;
  padding: 0px 18px;
  background: var(--action-color, #FF3464);
  font-size: 1em;
  color: var(--action-text-color, white);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  height: 48px; }

.media-browser__media-browser__y0Hsu .media-browser__header-left__1ObQh button {
  cursor: pointer;
  color: var(--panel-widget-color);
  outline-style: none;
  background: none;
  border: none; }

.media-browser__media-browser__y0Hsu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: auto;
  z-index: 10;
  background-color: var(--full-panel-background-color);
  overflow-x: hidden;
  overflow-y: scroll; }
  .media-browser__media-browser__y0Hsu a {
    cursor: pointer; }
  .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW {
    flex: 10;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; }
    .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__engine-attribution__2P2aD {
      width: 450px;
      height: 23px;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      @media (max-width: 1060px) {
        .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__engine-attribution__2P2aD {
          flex: 10;
          width: auto;
          max-width: 450px; } }
      .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__engine-attribution__2P2aD .media-browser__engine-attribution-contents__gCdfr {
        font-size: 0.8em;
        color: var(--tile-subtext-color);
        margin-top: 4px; }
        .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__engine-attribution__2P2aD .media-browser__engine-attribution-contents__gCdfr a {
          color: var(--tile-subtext-color); }
    .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__favorites-header__1XzZx {
      font-size: 1.5em;
      font-weight: bold; }
      .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__favorites-header__1XzZx i {
        color: var(--favorited-color, #FFC000);
        margin-right: 12px; }
    .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__search__3gQ84 {
      display: flex;
      width: 450px;
      height: 50px;
      border: 2px solid var(--text-field-border-color);
      border-radius: 10px;
      justify-content: center;
      align-items: center; }
      @media (max-width: 1060px) {
        .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__search__3gQ84 {
          flex: 10;
          width: auto;
          max-width: 450px; } }
      @media (max-width: 801px) {
        .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__search__3gQ84 {
          height: 35px; } }
      .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__search__3gQ84 .media-browser__search-clear__2GkP3, .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__search__3gQ84 .media-browser__search-icon__g1Sj9 {
        color: var(--text-field-widget-color);
        cursor: pointer;
        margin: 0 18px;
        font-size: 1.2em; }
      .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__search__3gQ84 input {
        pointer-events: auto;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        outline-style: none;
        overflow: hidden;
        resize: none;
        background-color: transparent;
        color: var(--text-field-text-color);
        line-height: 28px;
        font-size: 1.1em;
        width: 100%;
        border: 0px;
        height: 32px;
        padding: 0px 8px; }
      .media-browser__media-browser__y0Hsu .media-browser__header-center__2D9CW .media-browser__search__3gQ84 input::placeholder {
        color: var(--text-field-placeholder-color);
        font-weight: 300;
        font-style: italic; }
  .media-browser__media-browser__y0Hsu .media-browser__box__1KHYi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 100%;
    height: 100%;
    max-width: 1680px; }
    @media (max-width: 801px) {
      .media-browser__media-browser__y0Hsu .media-browser__box__1KHYi {
        width: 100%; } }
  .media-browser__media-browser__y0Hsu .media-browser__header__zqZ09 {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    max-width: 1720px;
    margin: 32px;
    margin-bottom: 24px;
    height: 77px;
    min-height: 77px; }
    .media-browser__media-browser__y0Hsu .media-browser__header__zqZ09.media-browser__no-search__3N90H {
      height: auto;
      min-height: auto; }
    @media (max-width: 801px) {
      .media-browser__media-browser__y0Hsu .media-browser__header__zqZ09 {
        height: 55px;
        min-height: 55px; }
        .media-browser__media-browser__y0Hsu .media-browser__header__zqZ09.media-browser__no-search__3N90H {
          height: auto;
          min-height: auto; } }
  .media-browser__media-browser__y0Hsu .media-browser__nav__9J5If {
    width: 95vw;
    max-width: 1720px;
    display: flex;
    position: relative;
    height: 38px;
    min-height: 38px;
    border-bottom: 1px solid var(--panel-rule-color);
    color: var(--panel-text-color);
    white-space: nowrap;
    padding-left: 12px;
    margin: 0 12px; }
    @media (max-width: 801px) {
      .media-browser__media-browser__y0Hsu .media-browser__nav__9J5If {
        overflow-x: scroll; } }
    .media-browser__media-browser__y0Hsu .media-browser__nav__9J5If .media-browser__nav-right-pad__1qH0B {
      margin-right: 24px; }
    .media-browser__media-browser__y0Hsu .media-browser__nav__9J5If .media-browser__nav-source__o6NI6 {
      font-weight: 600;
      font-size: 1.2em;
      margin: 0px 24px;
      padding-bottom: 12px;
      border-bottom: 3px solid transparent; }
      @media (max-width: 801px) {
        .media-browser__media-browser__y0Hsu .media-browser__nav__9J5If .media-browser__nav-source__o6NI6 {
          font-size: 1.0em; } }
    .media-browser__media-browser__y0Hsu .media-browser__nav__9J5If .media-browser__nav-source-selected__2osjH {
      font-weight: bold;
      border-bottom: 3px solid var(--action-color, #FF3464); }
    .media-browser__media-browser__y0Hsu .media-browser__nav__9J5If .media-browser__nav-scroll-arrow__2Nikk {
      position: fixed;
      background-color: var(--overflow-tip-background-color);
      color: var(--overflow-tip-icon-color);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 30px;
      right: 0px; }
      @media (min-width: 768px) {
        .media-browser__media-browser__y0Hsu .media-browser__nav__9J5If .media-browser__nav-scroll-arrow__2Nikk {
          display: none; } }
  .media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 {
    width: 95vw;
    max-width: 1720px;
    display: flex;
    position: relative;
    height: 44px;
    min-height: 44px;
    white-space: nowrap;
    padding: 0px 12px;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 28px 0 28px;
    overflow: hidden;
    flex-wrap: wrap; }
    @media (max-width: 801px) {
      .media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 {
        overflow-x: scroll;
        flex-wrap: nowrap; } }
    .media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 .media-browser__facet__2uP6U {
      background-color: transparent;
      color: var(--action-label-color, #FF3464);
      border: 0;
      border-radius: 12px;
      font-weight: normal;
      height: 44px;
      margin: 0 8px;
      text-align: center;
      min-width: auto;
      min-height: 44px;
      white-space: nowrap; }
      .media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 .media-browser__facet__2uP6U:hover {
        background-color: var(--action-color-highlight, #FF74A4);
        color: var(--action-text-color, white); }
      .media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 .media-browser__facet__2uP6U.selected {
        background-color: var(--action-color, #FF3464);
        color: var(--action-text-color, white); }
      @media (max-width: 801px) {
        .media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 .media-browser__facet__2uP6U {
          font-size: 1.0em; } }
    .media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 .media-browser__nav-source-selected__2osjH {
      font-weight: bold;
      border-bottom: 3px solid var(--action-color, #FF3464); }
    .media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 .media-browser__nav-scroll-arrow__2Nikk {
      position: fixed;
      background-color: var(--overflow-tip-background-color);
      color: var(--overflow-tip-icon-color);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 30px;
      right: 0px; }
      @media (min-width: 768px) {
        .media-browser__media-browser__y0Hsu .media-browser__facets__1Yz65 .media-browser__nav-scroll-arrow__2Nikk {
          display: none; } }
  .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 {
    width: 100vw;
    max-width: 1720px; }
    .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY {
      margin: 8px 8px 24px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      @media (min-width: 700px) {
        .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY {
          margin-top: 8px; } }
      .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU {
        margin: 16px 8px;
        cursor: pointer;
        position: relative; }
        .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs {
          margin-top: 4px; }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs .media-browser__name__RFiE4 {
            font-size: 1.2em;
            font-weight: 600;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: var(--tile-title-color);
            text-decoration: none;
            display: block; }
            @media (max-width: 801px) {
              .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs .media-browser__name__RFiE4 {
                font-size: 1.1em; } }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs .media-browser__attribution__3glgj {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.8em;
            font-weight: bold;
            color: var(--tile-subtitle-color);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
            @media (max-width: 801px) {
              .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs .media-browser__attribution__3glgj {
                flex-direction: column;
                align-items: flex-start; } }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs .media-browser__creator__3LDPh {
            font-weight: normal; }
            .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs .media-browser__creator__3LDPh a {
              color: var(--tile-subtitle-color);
              font-weight: normal; }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs .media-browser__publisher__mTzsX i {
            color: var(--tile-subtitle-link-color); }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs .media-browser__publisher__mTzsX a {
            color: var(--tile-subtitle-color);
            font-weight: normal; }
            @media (min-width: 700px) {
              .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs .media-browser__publisher__mTzsX a {
                color: var(--tile-subtext-color); } }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__info__2c8Zs .media-browser__last-joined__2DVWf {
            font-weight: normal; }
        .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__tile-link__IXyUO {
          width: 100%;
          display: block; }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__tile-link__IXyUO .media-browser__tile-content__1QYSP {
            background-color: var(--tile-background-color);
            border-radius: 12px;
            width: 100%;
            height: 100%; }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__tile-link__IXyUO img.media-browser__tile-content__1QYSP {
            filter: brightness(1.1) contrast(1.1); }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__tile-link__IXyUO img.media-browser__avatar-tile__qNo2r {
            filter: none;
            background-color: var(--tile-alt-background-color); }
        .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__favorite__1vVd0 {
          position: absolute;
          top: 6px;
          left: 7px;
          color: var(--favorited-color, #FFC000); }
        .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__tile-actions__1QXbx {
          position: absolute;
          top: 6px;
          right: 7px; }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__tile-actions__1QXbx a {
            color: var(--tile-button-icon-color);
            background: var(--tile-button-background-color);
            border-radius: 30px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            display: block;
            margin-bottom: 5px; }
            .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__tile-actions__1QXbx a:hover {
              background: var(--action-color, #FF3464);
              color: var(--tile-button-icon-hover-color); }
        .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__presence__2l7SM {
          position: absolute;
          top: 165px;
          right: 7px;
          background: var(--tile-button-background-color);
          height: 30px;
          border-radius: 30px;
          line-height: 30px;
          padding: 0 10px; }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles__1BYEY .media-browser__tile__2lzHU .media-browser__presence__2l7SM span {
            margin-left: 5px; }
    .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tile__2lzHU.media-browser__create-tile__RL9vr {
      display: flex;
      margin-bottom: 4em; }
      .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tile__2lzHU.media-browser__create-tile__RL9vr .media-browser__tile-link__IXyUO {
        flex: 1;
        text-decoration: none; }
        .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tile__2lzHU.media-browser__create-tile__RL9vr .media-browser__tile-link__IXyUO .media-browser__tile-content__1QYSP {
          background-color: var(--tile-alt-background-color);
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          color: var(--tile-empty-text-color);
          font-size: 14pt;
          padding: 10pt;
          box-sizing: border-box; }
          .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tile__2lzHU.media-browser__create-tile__RL9vr .media-browser__tile-link__IXyUO .media-browser__tile-content__1QYSP .fa-plus {
            font-size: 20pt;
            margin: 8px; }
    .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tile__2lzHU.media-browser__create-avatar-tile__2dxlP {
      margin-bottom: 3em; }
    .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__tiles-variable__1ZNxg {
      justify-content: flex-start; }
    .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__pager__RKx5O {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px; }
      .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__pager__RKx5O a {
        margin: 32px;
        width: 48px;
        height: 48px;
        padding: 0;
        min-width: auto;
        font-weight: bold; }
      .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__pager__RKx5O .media-browser__page-number__OTpSH {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        color: var(--panel-subtext-link-color);
        margin: 12px; }
      .media-browser__media-browser__y0Hsu .media-browser__body__j6Tv2 .media-browser__pager__RKx5O .media-browser__pager-button-disabled__ytlSN {
        pointer-events: none;
        background-color: var(--panel-subtext-disabled-color); }
  .media-browser__media-browser__y0Hsu .media-browser__header-left__1ObQh {
    margin: 0 0 0 32px;
    display: flex;
    width: 250px; }
    @media (max-width: 801px) {
      .media-browser__media-browser__y0Hsu .media-browser__header-left__1ObQh {
        width: 50px;
        height: 35px; } }
    .media-browser__media-browser__y0Hsu .media-browser__header-left__1ObQh button {
      font-size: 1.6em; }
  .media-browser__media-browser__y0Hsu .media-browser__header-right__3k3JZ {
    margin: 0 32px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    font-size: 1.6em; }
    .media-browser__media-browser__y0Hsu .media-browser__header-right__3k3JZ .media-browser__create-button__30hMV {
      font-weight: bold;
      color: var(--action-label-color, #FF3464); }
      @media (min-width: 800px) {
        .media-browser__media-browser__y0Hsu .media-browser__header-right__3k3JZ .media-browser__create-button__30hMV {
          margin-right: 12px; } }
    .media-browser__media-browser__y0Hsu .media-browser__header-right__3k3JZ .media-browser__create-link__28Bpj {
      font-weight: bold;
      font-size: 0.8em;
      color: var(--action-label-color, #FF3464); }
      @media (max-width: 801px) {
        .media-browser__media-browser__y0Hsu .media-browser__header-right__3k3JZ .media-browser__create-link__28Bpj {
          display: none; } }
    @media (max-width: 801px) {
      .media-browser__media-browser__y0Hsu .media-browser__header-right__3k3JZ {
        width: 50px;
        height: 35px; } }
  .media-browser__media-browser__y0Hsu .media-browser__empty-string__3r0tc {
    font-size: 1.2em;
    color: var(--panel-subtext-color);
    margin-top: 24px; }

.media-browser__media-browser-inline__3AgWD {
  position: relative;
  background-color: var(--home-media-panel-background-color);
  width: 100%;
  padding: 12px;
  padding-top: 20px;
  margin-bottom: 52px;
  overflow: hidden; }

.room-info-dialog__title__3-3CO {
  text-align: center;
  font-weight: bold;
  margin: 0 12px; }

.room-info-dialog__room-info__3XkbS {
  display: flex;
  text-align: left;
  margin: 0 12px; }
  @media (max-width: 690px) {
    .room-info-dialog__room-info__3XkbS {
      flex-direction: column;
      align-items: center; } }

.room-info-dialog__scene-screenshot__3PWz- img {
  border-radius: 12px;
  width: 210px;
  height: 240px;
  filter: brightness(1.1) contrast(1.1); }

.room-info-dialog__scene-details__2pYml {
  display: flex;
  flex-direction: column;
  margin: 4px 0 0 26px;
  font-weight: normal;
  width: 320px; }
  @media (max-width: 690px) {
    .room-info-dialog__scene-details__2pYml {
      width: 200px;
      margin: 4px 4px; } }

.room-info-dialog__scene-main__2mhXj {
  margin: 0 8px 8px 0;
  position: relative; }

.room-info-dialog__scene-name__1bqGh {
  font-size: 20px;
  font-weight: 600;
  color: var(--panel-text-color); }

.room-info-dialog__scene-creator__3_za4 {
  font-size: 16px;
  color: var(--panel-subtext-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.room-info-dialog__scene-attributions__QpYVd {
  display: flex;
  flex-direction: column;
  max-height: 90px;
  overflow-y: scroll; }

.room-info-dialog__attribution__I9_V- {
  margin: 8px 0;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 12px; }

.room-info-dialog__attribution-name__3JTpI {
  font-weight: 600; }
  .room-info-dialog__attribution-name__3JTpI a {
    color: var(--action-label-color, #FF3464);
    text-decoration: none; }

.room-info-dialog__attribution-author__BouZB {
  color: var(--panel-subtext-color);
  font-weight: normal; }

.room-info-dialog__description__2jXMQ {
  font-weight: normal;
  text-align: left;
  padding: 0px 12px; }

.room-info-dialog__subtitle__1pamf {
  margin: 1em;
  margin-top: 20px;
  font-size: 12pt;
  color: var(--menu-header-text-color);
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  width: 100%; }

.room-info-dialog__hub-title__2rQtj {
  font-weight: bold;
  text-align: left;
  margin: 0 12px;
  margin-bottom: 10px;
  font-size: 1.2em; }

.sign-in-dialog__email-field__g3xRW, .sign-in-dialog__next-button__2pGtq, .sign-in-dialog__continue-button__kFN6Z {
  font-family: 'Open Sans', sans-serif; }

.sign-in-dialog__email-field__g3xRW {
  border: 1px solid var(--text-field-border-color);
  box-sizing: border-box;
  border-radius: 10px; }

.sign-in-dialog__sign-in-form__3Muog, .sign-in-dialog__sign-in-complete__3JMkv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0; }

.sign-in-dialog__email-field__g3xRW {
  color: var(--text-field-text-color);
  font-size: 1.2em;
  background-color: transparent;
  line-height: 2.0em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin: 0.5em 0;
  width: 100%; }

.sign-in-dialog__next-button__2pGtq, .sign-in-dialog__continue-button__kFN6Z {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  outline-style: none;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 28px;
  padding: 0px 18px;
  background: var(--action-color, #FF3464);
  font-size: 1em;
  color: var(--action-text-color, white);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  height: 48px; }

.sign-in-dialog__email-field__g3xRW {
  margin: 1.5em 0 0.5em 0; }

.sign-in-dialog__terms__3TT6i {
  font-size: 7pt;
  margin-bottom: 32px; }


/*# sourceMappingURL=index-34ac95d2481be5ff7863.css.map*/