:root {
  --spoke-action-color: #2F80ED;
  --spoke-action-text-color: white;
  --twitter-action-color: #1da1f2;
  --twitter-link-color: #5e93c5;
  --twitter-panel-background-color: #e6ecf0;
  --twitter-editor-border-color: #a4d9f9;
  --discord-text-color: white;
  --discord-background-color: #2A2D32;
  --discord-subtitle-color: #A3A3A3;
  --discord-action-color: #7289DA;
  --discord-secondary-text-color: #7f7f7f;
  --discord-secondary-action-color: #404040;
  --hud-panel-background: rgba(79, 79, 79, 0.45);
  --hud-dropdown-background-color: rgba(72, 72, 72, 0.2);
  --hud-dropdown-border-color: rgba(72, 72, 72, 0.3);
  --hud-panel-text-color: #f0f0f0;
  --hud-panel-link-color: white;
  --overlay-text-field-text-color: white;
  --overlay-text-field-widget-color: gray;
  --overlay-text-field-background-color: rgba(64, 64, 64, 0.55);
  --overlay-text-field-focused-background-color: #404040;
  --overlay-text-field-placeholder-color: gray;
  --overlay-text-field-disabled-color: gray;
  --lightbox-text-color: white;
  --lightbox-icon-color: black;
  --lightbox-text-field-color: white;
  --lightbox-text-field-border-color: #e2e2e2;
  --lightbox-text-field-text-color: black;
  --lightbox-background-color: rgba(0, 0, 0, 0.9);
  --lightbox-icon-background-color: white;
  --lightbox-widget-color: #404040;
  --post-session-splash-text-color: white;
  --post-session-splash-background-color: black;
  --post-session-splash-secondary-action-color: #f0f0f0;
  --vr-interstitial-background-color: rgba(0, 0, 0, 0.9);
  --vr-interstitial-text-color: #f0f0f0; }

.light-theme {
  --action-button-secondary-background: white;
  --text-field-text-color: black;
  --text-field-widget-color: #202020;
  --text-field-background-color: white;
  --text-field-placeholder-color: gray;
  --text-field-disabled-color: gray;
  --text-field-border-color: #e2e2e2;
  --panel-action-button-secondary-background: #f4f4f4;
  --panel-background-color: rgba(255, 255, 255, 0.9);
  --panel-text-color: black;
  --panel-overlay-text-color: black;
  --panel-overlay-background-color: rgba(0,0,0,0.85);
  --overlay-button-background-color: white;
  --overlay-button-icon-color: #202020;
  --action-button-secondary-icon: gray;
  --full-panel-background-color: rgba(255, 255, 255, 0.98);
  --menu-background-color: white;
  --menu-link-color: black;
  --menu-link-underline-color: gray;
  --menu-header-text-color: gray;
  --menu-text-color: black;
  --menu-icon-color: #202020;
  --menu-attach-point-color: rgba(255, 255, 255, 0.9);
  --panel-rule-color: lightgrey;
  --panel-link-underline-color: gray;
  --panel-widget-color: gray;
  --unfavorited-color: gray;
  --panel-widget-disabled-color: gray;
  --panel-title-underline-color: gray;
  --panel-subtitle-color: gray;
  --panel-subtext-color: #7f7f7f;
  --panel-subtext-link-color: gray;
  --panel-subtext-disabled-color: lightgrey;
  --panel-icon-color: #404040;
  --overlay-text-color: black;
  --loading-background-color: #d7e5ec;
  --loading-spinner-color: #555;
  --loading-text-color: #404040;
  --lobby-overlay-widget-background-color: rgba(255, 255, 255, 0.9);
  --lobby-overlay-widget-text-color: black;
  --lobby-overlay-widget-thumbnail-border-color: rgba(255, 255, 255, 0.15);
  --spawned-overlay-widget-background-color: black;
  --spawned-overlay-widget-source-text-color: #f0f0f0;
  --spawned-overlay-widget-text-color: white;
  --spawned-overlay-widget-link-color: white;
  --chat-popup-background-color: #404040;
  --chat-popup-text-color: #f0f0f0;
  --home-background-color: white;
  --home-header-background-color: white;
  --home-footer-background-color: white;
  --home-header-link-color: black;
  --home-footer-text-color: black;
  --home-footer-link-color: gray;
  --home-text-color: black;
  --home-media-panel-background-color: rgba(255, 255, 255, 0.6);
  --link-background-color: white;
  --link-text-color: black;
  --link-button-highlight-color: rgba(255, 255, 255, 0);
  --link-keypad-background-color: #f7f7f7;
  --link-button-background-color: white;
  --link-entry-color: black;
  --link-button-active-background-color: lightgrey;
  --link-button-active-color: lightgrey;
  --link-button-disabled-color: lightgrey;
  --link-icon-color: #333;
  --link-code-loading-background: rgba(0.4, 0.4, 0.4, 0.85);
  --scene-text-color: white;
  --scene-overlay-text-color: black;
  --scene-loading-overlay-color: rgba(255, 255, 255, 0.2);
  --tile-button-tip-background-color: #404040;
  --tile-button-tip-text-color: #f0f0f0;
  --tile-button-icon-color: black;
  --tile-button-icon-hover-color: white;
  --tile-button-background-color: #ffffffde;
  --tile-inset-text: #404040;
  --tile-selected-color: #eaeaea;
  --tile-title-color: black;
  --tile-subtitle-color: #404040;
  --tile-subtitle-link-color: gray;
  --tile-subtext-color: #7f7f7f;
  --tile-background-color: lightgrey;
  --tile-alt-background-color: #f0f0f0;
  --tile-empty-text-color: grey;
  --overflow-tip-background-color: rgba(220, 220, 220, 0.5);
  --overflow-tip-icon-color: black;
  --icon-button-background-color: black;
  --icon-button-border-color: white; }

.dark-theme {
  --action-button-secondary-background: #404040;
  --text-field-text-color: lightgrey;
  --text-field-widget-color: #f0f0f0;
  --text-field-background-color: #404040;
  --text-field-placeholder-color: gray;
  --text-field-disabled-color: #202020;
  --text-field-border-color: #404040;
  --panel-action-button-secondary-background: #404040;
  --panel-background-color: rgba(32, 32, 32, 0.9);
  --panel-text-color: #fafafa;
  --panel-overlay-text-color: black;
  --panel-overlay-background-color: rgba(0,0,0,0.85);
  --overlay-button-background-color: rgba(50, 50, 50, 0.95);
  --overlay-button-icon-color: lightgrey;
  --unfavorited-color: gray;
  --action-button-secondary-icon: #fafafa;
  --full-panel-background-color: rgba(32, 32, 32, 0.98);
  --menu-background-color: rgba(32, 32, 32, 0.9);
  --menu-link-color: #fafafa;
  --menu-link-underline-color: gray;
  --menu-header-text-color: lightgrey;
  --menu-text-color: #fafafa;
  --menu-icon-color: lightgrey;
  --menu-attach-point-color: rgba(32, 32, 32, 0.9);
  --panel-rule-color: gray;
  --panel-link-underline-color: gray;
  --panel-widget-color: gray;
  --panel-widget-disabled-color: gray;
  --panel-title-underline-color: gray;
  --panel-subtitle-color: lightgrey;
  --panel-subtext-color: #fafafa;
  --panel-subtext-link-color: gray;
  --panel-subtext-disabled-color: #404040;
  --panel-icon-color: gray;
  --overlay-text-color: black;
  --loading-background-color: #202020;
  --loading-spinner-color: gray;
  --loading-text-color: lightgrey;
  --lobby-overlay-widget-background-color: rgba(32, 32, 32, 0.9);
  --lobby-overlay-widget-text-color: #fafafa;
  --lobby-overlay-widget-thumbnail-border-color: rgba(64, 64, 64, 0.15);
  --spawned-overlay-widget-background-color: black;
  --spawned-overlay-widget-source-text-color: #f0f0f0;
  --spawned-overlay-widget-text-color: white;
  --spawned-overlay-widget-link-color: white;
  --chat-popup-background-color: #404040;
  --chat-popup-text-color: #f0f0f0;
  --home-background-color: #202020;
  --home-header-background-color: #202020;
  --home-footer-background-color: black;
  --home-header-link-color: #fafafa;
  --home-footer-text-color: white;
  --home-footer-link-color: white;
  --home-text-color: #fafafa;
  --home-media-panel-background-color: rgba(255, 255, 255, 0.1);
  --link-background-color: #202020;
  --link-text-color: #fafafa;
  --link-button-highlight-color: lightgrey;
  --link-keypad-background-color: #202020;
  --link-button-background-color: rgba(16, 16, 16, 1);
  --link-entry-color: #fafafa;
  --link-button-active-background-color: lightgrey;
  --link-button-active-color: lightgrey;
  --link-button-disabled-color: lightgrey;
  --link-icon-color: #333;
  --link-code-loading-background: rgba(0.4, 0.4, 0.4, 0.85);
  --scene-text-color: white;
  --scene-overlay-text-color: black;
  --scene-loading-overlay-color: rgba(255, 255, 255, 0.2);
  --tile-button-tip-background-color: #404040;
  --tile-button-tip-text-color: #f0f0f0;
  --tile-button-icon-color: black;
  --tile-button-icon-hover-color: white;
  --tile-button-background-color: #ffffffde;
  --tile-inset-text: #404040;
  --tile-selected-color: #404040;
  --tile-title-color: #fafafa;
  --tile-subtitle-color: #f0f0f0;
  --tile-subtitle-link-color: lightgrey;
  --tile-subtext-color: gray;
  --tile-background-color: gray;
  --tile-alt-background-color: #404040;
  --tile-empty-text-color: lightgrey;
  --overflow-tip-background-color: rgba(220, 220, 220, 0.5);
  --overflow-tip-icon-color: black;
  --icon-button-background-color: black;
  --icon-button-border-color: gray; }

.loading-panel, .link-root, .link__keypad-button__2ElvK, .link__entered__1NNNd, .link__char-input__3Uver {
  font-family: 'Open Sans', sans-serif; }

.link__keypad-button__2ElvK {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  font-size: 64pt;
  outline-style: none; }

.loading-panel, .link-root, .link__keypad-button__2ElvK, .link__entered__1NNNd, .link__char-input__3Uver {
  font-family: 'Open Sans', sans-serif; }

.link__keypad-button__2ElvK {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  font-size: 64pt;
  outline-style: none; }

.loader-wrap {
  pointer-events: none;
  position: relative;
  width: 100px;
  height: 90px; }

.loader-bottom {
  position: fixed;
  bottom: 8px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%; }

.loader-mid {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%; }

.loading-panel {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--loading-background-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.loading-panel__logo {
  width: 247px;
  margin: 20px 0 10px 0;
  filter: drop-shadow(0 0 4px #888); }

.loading-panel__powered-by {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-weight: normal;
  font-size: 0.8em;
  color: var(--loading-text-color); }
  @media (max-width: 768px), (max-height: 480px) {
    .loading-panel__powered-by {
      display: none; } }
  .loading-panel__powered-by a {
    color: var(--loading-text-color); }

.loading-panel__powered-by__prefix {
  margin-right: 4px; }

.loader-center,
.loader:before,
.loader:after {
  background: var(--loading-spinner-color);
  -webkit-animation: loader-animation 1s infinite ease-in-out;
  animation: loader-animation 1s infinite ease-in-out;
  width: 0.6em;
  height: 1em;
  border-radius: 5px; }

.loader {
  color: var(--loading-spinner-color);
  text-indent: -9999em;
  margin-left: 4em;
  margin-top: 4em;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader-center,
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader-center {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before {
  left: -1.2em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 1.2em; }

@-webkit-keyframes loader-animation {
  0%,
  80%,
  100% {
    height: 2em;
    top: 0; }
  40% {
    height: 3.5em;
    top: -0.75em; } }

@keyframes loader-animation {
  0%,
  80%,
  100% {
    height: 2em;
    top: 0; }
  40% {
    height: 3.5em;
    top: -0.75em; } }

.link__loading-text__2VpEE {
  font-weight: normal;
  font-size: 0.8em;
  color: var(--loading-text-color);
  margin-top: 0; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: var(--link-background-color);
  color: var(--link-text-color);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden; }

button {
  outline: none;
  -webkit-tap-highlight-color: var(--link-button-highlight-color);
  -webkit-tap-highlight-color: transparent; }

a {
  color: var(--link-text-color); }

.link-root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute; }

.link__logo__dzO36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px; }
  .link__logo__dzO36 img {
    width: 247px;
    height: 57px; }
  @media (max-height: 600px) {
    .link__logo__dzO36 {
      display: none; } }
  @media (max-width: 690px) {
    .link__logo__dzO36 {
      display: none; } }

.link__link__3kJ6B {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.link__link-contents__3L1rY {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--link-text-color);
  font-weight: bold;
  font-size: 1.2em;
  max-width: 650px; }
  @media (max-width: 690px) {
    .link__link-contents__3L1rY {
      flex-direction: column; } }

.link__entered-footer__2Oi0C {
  margin: 16px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (max-width: 690px) {
    .link__entered-footer__2Oi0C {
      display: none; } }

.link__entered-contents__2ZmCP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.link__create-link__9JPd4 {
  margin-top: 36px;
  font-size: 0.8em; }
  @media (max-width: 690px) {
    .link__create-link__9JPd4 {
      margin-top: 12px; } }

.link__code-loading-panel__21IQD {
  background: var(--link-code-loading-background); }

.link__entry-footer-image__1XOeK {
  width: 200px;
  margin: 12px;
  margin-top: 24px; }

.link__footer-image__AsDh- {
  width: 200px;
  margin: 12px; }
  @media (max-height: 719px) {
    .link__footer-image__AsDh- {
      display: none; } }

.link__header__ID1fV {
  text-align: center;
  white-space: pre-wrap; }

.link__footer__DERRP {
  margin: 16px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 691px), (max-height: 650px) {
    .link__footer__DERRP {
      display: none; } }

.link__keypad__1FVTF {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color: var(--link-keypad-background-color);
  border-radius: 24px;
  padding: 12px; }

.link__keypad-button__2ElvK {
  font-weight: bold;
  color: var(--action-label-color, #FF3464);
  font-size: 1.4em;
  border-radius: 128px;
  box-shadow: 0px 2px 12px #ccc;
  min-width: 80px;
  min-height: 80px;
  cursor: pointer;
  line-height: 68px;
  margin: 8px;
  background: var(--link-button-background-color); }

.link__keypad-button__2ElvK:active {
  background-color: var(--link-button-active-background-color); }

.link__keypad-button__2ElvK:disabled {
  color: var(--link-button-disabled-color); }

.link__keypad-backspace__M4x5m, .link__keypad-backspace__M4x5m:disabled, .link__keypad-backspace__M4x5m:active, .link__keypad-toggle-mode__2sIRG, .link__keypad-toggle-mode__2sIRG:disabled, .link__keypad-toggle-mode__2sIRG:active {
  border: none;
  background: transparent;
  box-shadow: none;
  color: var(--link-text-color); }

.link__keypad-backspace__M4x5m {
  grid-column: 3; }

.link__keypad-backspace__M4x5m:active {
  background-color: transparent;
  color: var(--link-button-active-color); }

.link__keypad-toggle-mode__2sIRG {
  font-size: 1.0em; }

.link__entered__1NNNd {
  height: 100px;
  width: 300px;
  text-align: center;
  font-size: 2.0em;
  color: var(--link-text-color);
  display: flex;
  justify-content: center; }

.link__char__20D9j {
  margin: 8px; }

.link__char-input__3Uver {
  font-weight: bold;
  outline-style: none;
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background: transparent;
  margin: 0;
  font-size: 52pt;
  border: 0;
  width: 295px;
  letter-spacing: 0.08em;
  text-align: center;
  color: var(--link-entry-color); }

.link__char-input__3Uver::placeholder {
  letter-spacing: 0; }

.link__headset-icon__22_kp {
  width: 64px;
  height: 64px;
  background-color: var(--link-icon-color);
  border-radius: 32px;
  margin-bottom: 8px;
  padding-right: 2px;
  cursor: pointer; }

.link__link-headset-footer-link__pGQB8 {
  display: flex;
  align-items: center; }
  .link__link-headset-footer-link__pGQB8 img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-bottom: 8px;
    margin-right: 16px;
    padding-right: 2px;
    cursor: pointer; }


/*# sourceMappingURL=link-a54039bef8c2c6da0247.css.map*/